
# Some general files (added by IG):
# Log files:
*.log
# Backup copies of edited text files:
*.bak


# REMARK
# Some directories have multiple versions listed (e.g. iglibmodules/,
# iglibmodules1/, iglibmodules2/). Usually, only the first version is 
# actually checked out via the contained scrits, and other versions are
# listed such that one can manually make copies with suffices "1", "2" in
# order to perform some experimentation on different versions of the 
# repository. This also supprts having multiple versions where different
# commit, tag or branch is checked out, which is convenient for comparisons.

# Standard, empty iglibmodules repostory container. Contains scripts for
# cloning and updating both the new IGLib ("Core") and the legacy
# IGLibFramework repositorie:
/iglibmodules
/iglibmodules1
/iglibmodules2

# Standard iglibmodules repository container, with new IGLib Core 
# repositories automatically cloned within it:
/iglibmodules_CORE
/iglibmodules_CORE1
/iglibmodules_CORE2

# Standard iglibmodules repository container, with legacy IGLib Framework 
# repositories automatically cloned within it:
/iglibmodules_LEGACY
/iglibmodules_LEGACY1
/iglibmodules_LEGACY2

# Standard, empty container of containers of repositories, based on the
# iglibmodules container, branch swrepos/RecursiveIGLib/mainRecursiveIGLib:
/otherIG_Recursive
/otherIG_Recursive1
/otherIG_Recursive2



# Container for some 3D graphics libraries (adapted by IOptLib), based on
# the iglibmodules container, branch swrepos/GrLib/repoMain:
/GraphicsLibs3D
/GraphicsLibs3D1
/GraphicsLibs3D2






# workspaceprojects/ and workspaceprojects_all/ contain, among the others,
# testing material for IGLib. However, these directories are cloned two
# directories below the container directory that containe the iglib/
# repository. 
# Within the current container, these directories are cloned by running 
# the respective cloning / updating scripts in nested containers, such as
# those located in the _copies/ directory, such as 
# _copies/iglibmodules_FRAMEWORK_CUSTOM/

#workspaceprojects
/workspaceprojects
/workspaceprojects1
/workspaceprojects2

#workspaceprojects_all
/workspaceprojects_all
/workspaceprojects_all1
/workspaceprojects_all2


