

# The Helix Toolkit (3D graphics library)
# 818 MB
# https://github.com/IOptLib/helix-toolkit
# helix-toolkit
/helix-toolkit

# Customized helix-toolkit such that it can be used in RobotArmHelix.
/helix-toolkit-forRobotArm
/helix-toolkit-forRobotArm1


# Demo application for robot arm, based on the Helix Toolkit
# 24.6 MB
# https://github.com/IOptLib/RobotArmHelix
# https://github.com/Gabryxx7/RobotArmHelix
/RobotArmHelix/RobotArmHelix


# Stride - a free open source cross-platform C# game engine
# 2 GB MB
# https://github.com/stride3d
/Stride

# Evergine Sample demos:
# https://github.com/EvergineTeam/Samples

# Evergine Automotive Demo:
# https://github.com/EvergineTeam/Automotive-Demo
/Evergine_Sample_AutomotiveDemo

# Evergine Runtime Lab:
# https://github.com/EvergineTeam/EvergineRuntimeLab
/Evergine_Sample_RuntimeLab

# Evergine Gaussian Splatting Demo:
# https://github.com/EvergineTeam/GaussianSplatting-Demo
/Evergine_Sample_GaussianSplattingDemo

# Evergine Dicom Demo:
# https://github.com/EvergineTeam/Dicom-Demo
/Evergine_Sample_DicomDemo

# Evergine XR Sample:
# https://github.com/EvergineTeam/XRSample
/Evergine_Sample_XRSample

# Evergine Digital Twin Demo:
# https://github.com/EvergineTeam/DigitalTwin-Demo
/Evergine_Sample_DigitalTwinDemo

# Evergine Mixed Reality Toolkit:
# https://github.com/EvergineTeam/MixedRealityToolkit
/Evergine_Sample_MixedRealityToolkit

# Evergine UI API Integrations:
# https://github.com/EvergineTeam/UIWindowSystemsDemo
/Evergine_Sample_UIWindowSystemsDemo

# Evergine Digital Low Level API Demo:
# https://github.com/EvergineTeam/ImGui-Demo
/Evergine_Sample_ImGuiDemo

# Evergine Digital ImGui Demo:
# https://github.com/EvergineTeam/LowLevelAPIDemo
/Evergine_Sample_LowLevelAPIDemo






#################################################################
# 
# Original ignores from the iglibmodules container repository:

*.bak

# output: output directory of the legacy IGLib frameworks
/output
/output1
/output2

# Directories below are for IGLib and legacy IGLib Framework repositories.
# Each directory also has two additional variants, with suffices 1 and 2,
# such that two copies of these directoried can be stored temporarily.

# IGLibCore: The basic low level IGLib library.
/IGLibCore
/IGLibCore1
/IGLibCore2

# IGLibScripts: Helpful scripts.
/IGLibScripts
/IGLibScripts1
/IGLibScripts2

# IGLibScriptsPS: Fork of IGLibScripts where PowerShell scripts are retained.
/IGLibScriptsPS

# IGLibScriptsEXP: Fork of IGLibScripts - experimental (maybe deleted i the future).
/IGLibScriptsEXP

# IGLibScripting: Basic scripting library for IGLib.
/IGLibScripting
/IGLibScripting1
/IGLibScripting11

# IGLibScriptingCs: C# scripting library for IGLib.
/IGLibScriptingCs
/IGLibScriptingCs1
/IGLibScriptingCs2

# IGLibGraphics3D: 3D Graphics library for IGLib.
/IGLibGraphics3D
/IGLibGraphics3D1
/IGLibGraphics3D2

# IGLibSandbox: The development sandbox for IGLib libraries.
/IGLibSandbox
/IGLibSandbox1
/IGLibSandbox2

# IGLibApps: IGLib applications.
/IGLibApps
/IGLibApps1
/IGLibApps2

# IGLibEventAggregator: Simple event aggregator project, currently not in use 
# but may be revived in some time the future.
/IGLibEventAggregator
/IGLibEventAggregator1
/IGLibEventAggregator2

# HashForm: Small MAUI learning project.
/HashForm
/HashForm1
/HashForm2

# Legacy IGLib Framework repositories:

# iglib: base IGLib Framework's libraries
/iglib
/iglib1
/iglib2

# iglibexternal: container of external dependencies for IGLib Framework
/iglibexternal
/iglibexternal1
/iglibexternal2

#igsolutions: contains IGLib solutions
/igsolutions
/igsolutions1
/igsolutions2

# shelldev
/shelldev
/shelldev1
/shelldev2

# iglibapp
/iglibapp
/iglibapp1
/iglibapp2

# data
/data
/data1
/data2

# iglearn: learning and research repository, contains e.g. collections of 
# various groups of repositories with their cloning scripts (eg. for 
# scripting, 2D and 3D graphics, numerics, optimization, image processing,
# machine learning, UI frameworks, code editors, cryptography
/iglearn
/iglearn1
/iglearn2

# igsandbox: sandbox development repository for IGLib Framework
/igsandbox
/igsandbox1
/igsandbox2

# igtest: a set of unit and other tests for the legacy IGLib Framework
/igtest
/igtest1
/igtest2

#unittests
/unittests
/unittests1
/unittests2

# WEB repositories:
/web
/web1
/web2


# workspaceprojects/ and workspaceprojects_all/ contain, among the others,
# testing material for IGLib. However, these directories are cloned two
# directories below the container directory that containe the iglib/
# repository. 
# Within the current container, these directories are cloned by running 
# the respective cloning / updating scripts in nested containers, such as
# those located in the _copies/ directory, such as 
# _copies/iglibmodules_FRAMEWORK_CUSTOM/

#workspaceprojects
/workspaceprojects
/workspaceprojects1
/workspaceprojects2

#workspaceprojects_all
/workspaceprojects_all
/workspaceprojects_all1
/workspaceprojects_all2


