

# The Helix Toolkit (3D graphics library)
# 818 MB
# https://github.com/IOptLib/helix-toolkit
# helix-toolkit
/helix-toolkit
/helix-toolkit1
/helix-toolkit2

# Customized helix-toolkit such that it can be used in RobotArmHelix.
/helix-toolkit-forRobotArm
/helix-toolkit-forRobotArm1
/helix-toolkit-forRobotArm2


# Demo application for robot arm, based on the Helix Toolkit
# 24.6 MB
# https://github.com/IOptLib/RobotArmHelix
# https://github.com/Gabryxx7/RobotArmHelix
/RobotArmHelix
/RobotArmHelix1
/RobotArmHelix2


# Stride - a free open source cross-platform C# game engine
# 2 GB
# https://github.com/stride3d
/Stride

######################################################
# Evergine Sample demos:
# https://github.com/EvergineTeam/Samples

# Evergine Automotive Demo:
# https://github.com/EvergineTeam/Automotive-Demo
/Evergine_Sample_AutomotiveDemo

# Evergine Runtime Lab:
# https://github.com/EvergineTeam/EvergineRuntimeLab
/Evergine_Sample_RuntimeLab

# Evergine Gaussian Splatting Demo:
# https://github.com/EvergineTeam/GaussianSplatting-Demo
/Evergine_Sample_GaussianSplattingDemo

# Evergine Dicom Demo:
# https://github.com/EvergineTeam/Dicom-Demo
/Evergine_Sample_DicomDemo

# Evergine XR Sample:
# https://github.com/EvergineTeam/XRSample
/Evergine_Sample_XRSample

# Evergine Digital Twin Demo:
# https://github.com/EvergineTeam/DigitalTwin-Demo
/Evergine_Sample_DigitalTwinDemo

# Evergine Mixed Reality Toolkit:
# https://github.com/EvergineTeam/MixedRealityToolkit
/Evergine_Sample_MixedRealityToolkit

# Evergine UI API Integrations:
# https://github.com/EvergineTeam/UIWindowSystemsDemo
/Evergine_Sample_UIWindowSystemsDemo

# Evergine Digital Low Level API Demo:
# https://github.com/EvergineTeam/ImGui-Demo
/Evergine_Sample_ImGuiDemo

# Evergine Digital ImGui Demo:
# https://github.com/EvergineTeam/LowLevelAPIDemo
/Evergine_Sample_LowLevelAPIDemo


######################################################
# VTK & ActiViz:
# https://www.kitware.eu/platforms/#VTK
# https://www.kitware.eu/activiz/
# Additional info on IGLib Wiki (private repository):
# https://github.com/ajgorhoe/wiki.IGLib/blob/main/IGLib/developmentareas/graphics3d/VtkComparison/VtkStateAndComparison.md

# VTK Source (C++), 660 MB:
# https://github.com/Kitware/VTK
# https://gitlab.kitware.com/vtk/vtk (original)
/VTK
/VTK1
/VTK2

# ActiViz old source repository (new versions are not open source), 24 MB:
# .NET wrappers for VTK. https://www.kitware.eu/activiz/
# https://github.com/dearman/activizdotnet
/VTK_activizdotnet
/VTK_activizdotnet1
/VTK_activizdotnet2

# VTK Examples, 3.3 GB
# Warning: .NET examples are very badly maintained and would work with significant 
# investment
# Warning: GitLab remote contains 
/VTK_examples
/VTK_examples1
/VTK_examples2




#################################################################
# 
# Original ignores from the iglibmodules container repository:

*.bak

# output: output directory of the legacy IGLib frameworks
/output
/output1
/output2

