
# Old ActiViz libraries:

# https://github.com/ajgorhoe/ActivizOld-ActiViz
/ActiViz
/ActiViz1
/ActiViz2

# https://github.com/ajgorhoe/ActivizOld-ActiViz_5.6.1_x86
/ActiViz_5.6.1_x86
/ActiViz_5.6.1_x861
/ActiViz_5.6.1_x862

# https://github.com/ajgorhoe/ActivizOld-ActiViz_5.8.0_x86
/ActiViz_5.8.0_x86
/ActiViz_5.8.0_x861
/ActiViz_5.8.0_x862


# Old ActiViz source repository from github/dearman :
# https://github.com/ajgorhoe/activizdotnet.git
# https://github.com/dearman/activizdotnet.git
/dearman_ActiViz
/dearman_ActiViz1
/dearman_ActiViz2
/dearman_ActiViz_25_12
/dearman_ActiViz_25_121
/dearman_ActiViz_25_122


# VTK Examples, including C# examples based on ActiViz:

# Old VTK Examples:
# Clone size: 2.3 GB
# https://github.com/lorensen/VTKExamples
/VTKExamplesOld


# New VTK Examples:
# Clone size: 2.3 GB
# https://github.com/lorensen/VTKExamples
/VTKExamples


