
# Old ActiViz libraries:

# https://github.com/ajgorhoe/ActivizOld-ActiViz
/ActiViz

# https://github.com/ajgorhoe/ActivizOld-ActiViz_5.6.1_x86
/ActiViz_5.6.1_x86

# https://github.com/ajgorhoe/ActivizOld-ActiViz_5.8.0_x86
/ActiViz_5.8.0_x86
