

# Math.NET Numerics, numerical library for .NET:
# Clone size: 175 MB
# https://github.com/mathnet/mathnet-numerics
# https://github.com/ajgorhoe/mathnet-numerics - clone for IGLib
# https://numerics.mathdotnet.com/ - home page (documentation, contribution, etc.)
/mathnet-numerics
/mathnet-numerics1
/mathnet-numerics2


# Jint (JavaScript Interpreter):
# Clone size: 38 MB
# https://github.com/sebastienros/jint
/Jint
/Jint1
/Jint11

# Helix Toolkit :
# Clone size: 820 GB
# https://github.com/helix-toolkit/helix-toolkit
# https://github.com/ajgorhoe/helix-toolkit - clone for IGLib
# https://docs.helix-toolkit.org/en/latest/ - documentation
/helix-toolkit
/helix-toolkit1
/helix-toolkit2


# WestWind Scripting:
# Original repo:
# https://github.com/RickStrahl/Westwind.Scripting
# My manual clone:
# https://github.com/ajgorhoe/Westwind.Scripting_ManualClone.git
# Size: 5 MB right after cloning (Jan 2025)
#   source directories (2): 236 kB
#   .git/: 1.7 MB
/Westwind.Scripting
/Westwind.Scripting1
/Westwind.Scripting11


# roslyn - .NET compiler :
# Original repo: ttps://github.com/ajgorhoe/roslyn.git
# My fork: https://github.com/dotnet/roslyn.git
# Size: 2.7 GB right after clone (Jan 2025)
#   src/ dir.: 372.4 MB
#   .git/: 2.3 GB
/roslyn
/roslyn1
/roslyn11
/roslyn_COPY
/roslyn_COPY1
/roslyn_COPY11

